body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: black; */
    transition: 0.5s;
    /* background-image: linear-gradient(rgb(0, 132, 255), white); */

    /* background-image: url('Data/ice_background.png'); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /* color: white; */
}

h2 {
    font-size: 1em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /* color: lightgrey; */
}

h4 {
    font-size: 0.75em;
    line-height: 1.125em;
    text-transform: uppercase;
}

.opening_text {
    position:fixed;
    width: 85vw;
    margin: 3.5vh;
    z-index: 100;
    /* background: rgba(120,120,120, 1);
    border: 1.5vw solid rgba(0, 0, 0, .05);   */
}

.heading {
    /* writing-mode: vertical-rl;
    text-orientation: upright; */
    text-transform: uppercase;
    -webkit-animation: fadeIn 2.5s;
    animation: fadeIn 2.5s;
}

.description {
    margin-top: -1vh;
    font-size: 1em;
    color: #222;
    -webkit-animation: fadeIn 3.5s;
    animation: fadeIn 3.5s;
}

.enter__link {
    /* writing-mode: vertical-rl;
    text-orientation: upright; */
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-decoration: none;
    /* background-color: blue; */
    border: 3vw solid #fff;
    box-shadow: 1vw 1vw 1vw #666;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/** MAP Styles **/
.map__text {
    position:fixed;
    margin: 5vh;
    width: 90vw;
    z-index: 100; 
}

.map__description {
    margin-top: -1vh;
    font-size: 1em;
    color: #dedede;
    -webkit-animation: fadeIn 3.5s;
    animation: fadeIn 3.5s;
}

.map__heading {
    text-transform: uppercase;
    -webkit-animation: fadeIn 2.5s;
    animation: fadeIn 2.5s;
}

.intro__link {
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.mapboxgl-popup-content {
    background-color: #333;
    color:white;
    width: 40vw;
    z-index: auto;
    line-height: 1em;
}
.popup__img {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
}

.map__year {
    font-size: 0.75em;
    text-transform: uppercase;
    color: #dedede;
    text-decoration: none;
}

#map {
    width: 100vw;
    height: 110vh;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


/** DESKTOP Popup setting **/
@media (min-width: 600px) {
    .mapboxgl-popup-content {
        background-color: #333;
        color:white;
        width: 15vw;
        z-index: auto;
    }
    .popup__img {
        width: 15vw;
        height: 15vw;
        object-fit: cover;
    }
}


